# === Eclipse ===
.project
.classpath
.settings/

# === IntelliJ IDEA ===
.idea/
*.iml
out/

# === Archivos compilados Java ===
bin/
*.class

# === Archivos temporales / sistema operativo ===
*.log
*.tmp
*.bak
.DS_Store
Thumbs.db
